.below-h3 {
  color: #000;
  font-family: serif;
  margin-top: 2px;
}
.portfolio {
  color: #85A68F;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
}
.header-h4 {
  color: #85A68F;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  margin-top: 2px
}
a:link {
  color: #747272;
}
a:visited {
  color: #a8a8a8;
}
a:hover {
  color: #85A68F;
  font-style: italic;
}
h1 {
  font-size: 70px;
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 5px;

}
h2 {
  font-size: 30px;
  font-family: sans-serif;
  border-bottom-style: solid;
  border-width: thin;
}
body {
  background:url("../images/working-table-background.png");
  background-position: top;
}
h3 {
  font-size: 18px;
  text-decoration: underline;
  margin-bottom: 4px;
  font-family: sans-serif;
  color: #5a5a5a;
}
h4 {
  font-size: 20px;
}
img {
    max-width: 100%;
    height: auto;
    border: 3px solid #5a5a5a;
    margin: 25px;
}
header {
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-width: thick;
  border-bottom-width: thin;

}
